@model Tp_CourseWork.Models.Locality
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            Название
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>

        <div>
            Тип
            <p>@Html.EditorFor(model => model.Type)</p>
        </div>

        <div>
            Население, тыс.чел
            <p>@Html.EditorFor(model => model.NumberResidantsTh)</p>
        </div>

        <div>
            Бюджет, млрд. руб.
            <p>@Html.EditorFor(model => model.BudgetMlrd)</p>
        </div>

        <div>
            Мер
            <p>@Html.EditorFor(model => model.Mayor)</p>
        </div>
        <p><input type="submit" value="Добавить" /></p>
    }
    @Html.ActionLink("Назад", "Index", "Home")
</div>