@model Tp_CourseWork.Models.Locality
<div>
    <h3>Id:  @Html.DisplayFor(m => m.id)</h3>
    <p>Название: @Html.DisplayFor(m => m.Name)</p>
    <p>Тип: @Html.DisplayFor(m => m.Type)</p>
    <p>Количество жителей: @Html.DisplayFor(m => m.NumberResidantsTh)</p>
    <p>Бюджет: @Html.DisplayFor(m => m.BudgetMlrd)</p>
    <p>Мэр: @Html.DisplayFor(m => m.Mayor)</p>
    @Html.ActionLink("Назад", "Index", "Home")
</div>