@model Tp_CourseWork.Models.ViewModels.LocalitiesWithUniqMayor
@{
    ViewBag.Title = "LOCALITY";
}
<html>
<head>
    <title></title>
    <link href='@Url.Content("~/wwwroot/lib/jqueryui/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
</head>
<body>
<h2>Список Локаций</h2>
    <table border="1">
    @foreach (var c in Model.Localities)
    {
        <tr><td>@c.Name</td><td>
        @Html.ActionLink("Смотреть", "Details", "Home", new { id = c.id }) | 
        @Html.ActionLink("Изменить", "Update", "Home", new { id = c.id }) |
        @Html.ActionLink("Удалить", "Delete", "Home", new { id = c.id }) </td></tr>
    }
    </table>
    <p> @Html.ActionLink("Добавить", "Create", "Home")</p>
    <p> @Html.ActionLink("Посмотреть статистические показатели по всем локациям", "Statistic", "Home")</p>
    <p> @Html.ActionLink("Посмотреть локации в виде таблицы", "LocalityByTable", "Home")</p>
</body>
</html>